body {
    margin: 0;
    padding: 0;
}

.main-container {
    background-color: #5e6ce6;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

canvas {
    background-color: white;
}